*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
}

*::selection{
    color:red;
    background:none;
}

body{
    font-family: sans-serif; 
}

div#calc{
    width:350px;
    height:auto; 
    min-height:30vh; 
    margin:10% auto;
    background-color: #cccc;
    text-align:center; 
    box-shadow:1px 1px 3px 1px rgb(32, 31, 31);
}

div#calc>div#top{
    width:100%; 
    display:flex;
    justify-content: space-between;
    
}
div#calc>div#top>span#titre{
    color:orange; 
    /* text-decoration: underline; */
    border-bottom:3px solid orange; 
    margin:5px; 
    text-shadow:0px 1px 4px #ccc;
}
div#calc>div#top>span#switchcol{
    color:orangered;
    margin:5px; 
}

div#calc>input[type=text]{
    font-size:15pt;
    width:95%; 
    height:30px; 
    text-align:right; 
    border:none;
    outline:none; 
    /* box-shadow:0px 0px 1px red;  */
    color:#2d2d2d;
    /* text-shadow:0px 1px 3px #000;  */
    background-color: white;
}

div#calc>div#nombres>div.row>div.col{
    display:flex;
}
div#calc>div#nombres>div.row>div.col>button{
    width:100%;
    margin:15px; 
    border:none; 
    outline:none;   
    /* box-shadow:0px 1px 2px #2d2d2d;  */
    background: none;
    font-weight: bold;
    font-size:20px; 
}
div#calc>div#nombres>div.row>div.col>button:hover{
    background:#ccc;
    cursor:pointer;
}
div#calc>div#nombres>div.row>div.col>button.op{ 
    color:orange; 
    font-weight: 900;
}
div#calc>div#nombres>div.row:last-child>div.col:last-child>button.op:last-of-type{
    color:white;   
    background-color: orange;
    /* border-radius:50%; */
}
div#calc>div#nombres>div.row>div.col>button.del::before{
  content:''; 
  width:0px; 
  height:0px; 
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent white transparent transparent;  
  display: inline-block;
  margin:1px;
  left:0; 
}

div#calc>div#nombres>div.row>div.col>button.del{
    position:relative; 
    color: white;
    background-color: orange; 
}
  